body {
  width: 100vw;
  display: flex;
}
.root {
  padding: 20px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 800px;
}
section {
    padding: 10px 0;
}
.root .logo {
  width: 100px;
  height: 100px;
}
.root a {
  color: #228be6;
  font-weight: bold;
  text-decoration: none;
}
.root a:hover {
  text-decoration: underline;
}
.root ul li {
  margin-bottom: 10px;
}
