.date-text {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.post code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 0.9em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 4px;
}

.post p {
  margin-bottom: 16px;
}

.post a {
  line-break: anywhere;
}

.post ul li {
  font-size: 16px;
}

.post h2 {
  font-size: 24px;
}

.post h3 {
  font-size: 20px;
}

li ul {
  margin-top: 8px;
  margin-left: 16px;
}

.post ol li {
  font-size: 16px;
}

.post .shiki {
  overflow-x: scroll;
}

li ol {
  list-style-type: decimal;
  margin-top: 8px;
  margin-left: 16px;
}

figure {
  text-align: center;
}
figcaption {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.post table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 16px;
}

.post table th {
  font-weight: 600;
}

.post table th,
.post table td {
  padding: 8px 14px;
  border: 1px solid var(--border-color);
}

.post table tr {
  border-top: 1px solid var(--border-color);
}

.post table img {
  background-color: transparent;
}
