.date-text {
  color: gray;
}

.post code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 1rem;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.post p {
  margin-bottom: 16px;
}

.post a {
  line-break: anywhere;
}

.post ul li {
  font-size: 18px;
}

li ul {
  margin-top: 8px;
  margin-left: 16px;
}

.post ol li {
  font-size: 18px;
}

li ol {
  list-style-type: decimal;
  margin-top: 8px;
  margin-left: 16px;
}

figure {
  text-align: center;
}
figcaption {
  color: grey;
  font: 15px arial;
}

.post table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 16px;
}

.post table th {
  font-weight: 600;
}

.post table th,
.post table td {
  padding: 6px 13px;
  border: 1px solid black;
}

.post table tr {
  border-top: 1px solid black;
}

.post table img {
  background-color: transparent;
}
