:root {
  --max-width: 800px;
  --header-height: 70px;
  --main-text-color: black;
  --main-background-color: white;
  --main-link-color: rgb(25, 113, 194);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: white;
    --main-background-color: black;
    --main-link-color: rgb(25, 113, 194);
  }
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4 h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Global styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  padding: 0 10px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}
h1 {
  font-size: 27px;
  margin: 16px 0;
  font-weight: bold;
  line-height: 40px;
}
h2 {
  font-size: 25px;
  margin: 24px 0;
  font-weight: bold;
  line-height: 30px;
}
h3 {
  font-size: 20px;
  margin: 24px 0;
  font-weight: bold;
  line-height: 30px;
}
p {
  margin-bottom: 8px;
  line-height: 20px;
}
ul {
  list-style: inside;
  margin-bottom: 16px;
}
p,
li {
  line-height: 27px;
  margin-bottom: 8px;
}
a {
  text-decoration: none;
  color: var(--main-link-color);
}
a:hover {
  text-decoration: underline;
}

/* Header styles */
header {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}
header a {
  color: var(--main-text-color);
}
header h1 {
  margin: 0;
  font-size: 25px;
  line-height: var(--header-height);
}
header .icons {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header .icons .icon {
  margin-left: 10px;
}
header .icons .github-icon {
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
header .icons .twitter-icon {
  height: 50px;
}

/* Main styles */
main {
  max-width: var(--max-width);
  margin: 0 auto;
  word-wrap: break-word;
}

/* Footer styles */
footer {
  max-width: var(--max-width);
  margin: 0 auto;
  border-top: 1px solid gray;
  padding: 20px 0;
  margin-top: 30px;
  color: gray;
}
